.properties{
    margin-top: 140px;
    &__title-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-image: url(/image/bg-title.png);
        background-repeat: no-repeat;
        background-position: 0px -5px;
    }
    &__title{
        font-weight: 600;
        font-size: 44px;
        line-height: 66px;
        color: #030A1B;
        margin-left: 20px;
    }
    &__text{
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        color: #FE753F;
        cursor: pointer;
    }
    &__wrapper{
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__box{
        width: 355px;
        height: 553px;
        background: #FFFFFF;
        box-shadow: 0px 8px 70px rgba(0, 0, 0, 0.07);
        border-radius: 10px;
        margin-top: 30px;
    }
    &__img{
        width: 355px;
        height: 321px;
    }
    &__icon{
        color: gray;
        margin-left: 50px;
    }
    &__icon-red{
        color: red;
        margin-left: 50px;
    }
    &__btn{
        cursor: pointer;
    }
    &__list{
        margin-left: 30px;
        margin-top: 30px;
    }
    &__item:nth-child(1){
        display: flex;
        align-items: center;
    }
    &__item:nth-child(2){
        margin-top: 10px;
    }
    &__item:nth-child(2)::before{
        content: url(/image/icons/icon-location.png);
        margin-right: 10px;
    }
    &__item:nth-child(4){
        margin-top: 15px;
        display: flex;
        align-items: center;
    }
    &__list2{
        display: flex;
    }
    &__rooms{
        margin-right: 20px;
        margin-top: 15px;
    }
    &__rooms:nth-child(1)::before{
        content: url(/image/icons/icon-bedroom.png);
        margin-right: 5px;
    }
    &__rooms:nth-child(2)::before{
        content: url(/image/icons/icon-kitchen.png);
        margin-right: 5px;
    }
    &__rooms:nth-child(3)::before{
        content: url(/image/icons/icon-shover.png);
        margin-right: 5px;
    }
    &__name{
        font-weight: 600;
        font-size: 22px;
        line-height: 33px;
        color: #030A1B;
    }
    &__price{
        font-weight: 600;
        font-size: 22px;
        line-height: 33px;
        color: #FE753F;
        margin-right: 60px;
    }
    &__link{
        width: 138px;
        height: 44px;
        background: #2E6EFF;
        border-radius: 5px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}