.header{
    
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 35px;
    }
    &__logo{
        width: 250px;
        height: 65px;
    }
    &__list{
        display: flex;
        align-items: center;
    }
    &__item{
        margin-right: 50px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #030A1B;
        opacity: 0.7;
        cursor: pointer;
    }
    &__item:hover{
        color: #FE753F;
    }
    &__btn{
        width: 149px;
        height: 54px;
        background: #2E6EFF;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
    }
}